.signup-wapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.width{
    width: 100%;
}
.radio-btn{
    display: flex;
    gap: 15px;
}
input[type="radio"] {
    accent-color :#6C25FF;
    width: 20px;
}
.h2-signup{
    margin-top: 10px;
    font-size: 1.7rem;
}